<div class="width">
  <h1 style="text-align: center">Créer un compte</h1>
  <mat-grid-list cols="12" rowHeight="5:1">
    <form
      [formGroup]="authForm"
      class="login-container"
      (ngSubmit)="register.register(authForm)"
    >
      <mat-grid-list cols="2" rowHeight="500px">
        <mat-grid-tile>
          <div class="internalMatGrid">
            <mat-grid-list cols="2" rowHeight="100px">
              <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="Entrez votre email"
                    formControlName="email"
                  />
                  <mat-error *ngIf="authForm.controls.email.invalid">{{
                    getErrorMessage()
                  }}</mat-error>
                </mat-form-field></mat-grid-tile
              >
              <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                  <mat-label>Mot de passe</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Entrez votre mot de passe"
                    formControlName="password"
                  /> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                  <mat-label>Confirmation de mot de passe</mat-label>
                  <input
                    matInput
                    type="password"
                    placeholder="Confirmez votre mot de passe"
                    formControlName="confirmPassword"
                  />
                  <!-- <mat-error
                    *ngIf="
                      authForm.controls.confirmPassword.value !==
                      authForm.controls.password.value
                    "
                    >{{ getPasswordErrorMessage() }}</mat-error
                  > -->
                </mat-form-field></mat-grid-tile
              >
            </mat-grid-list>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <div class="internalMatGrid">
            <mat-grid-list cols="2" rowHeight="100px">
              <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline">
                  <mat-label>Nom</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Entrez votre Nom"
                    formControlName="lastname"
                  /> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline">
                  <mat-label>Prénom</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Entrez votre Prénom"
                    formControlName="firstname"
                  /> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline">
                  <mat-label>Adresse</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Entrez votre adresse"
                    formControlName="address"
                  /> </mat-form-field
              ></mat-grid-tile>
              <!-- <mat-grid-tile [colspan]="1"></mat-grid-tile> -->
              <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline">
                  <mat-label>Code postal</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Entrez votre code postal"
                    formControlName="cp"
                  /> </mat-form-field
              ></mat-grid-tile>
              <mat-grid-tile [colspan]="1">
                <mat-form-field appearance="outline">
                  <mat-label>Ville</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Entrez votre ville"
                    formControlName="town"
                  /> </mat-form-field
              ></mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-tile [colspan]="12" [rowspan]="3">
        <button type="submit" mat-raised-button color="primary">Envoyer</button>
      </mat-grid-tile>
    </form>
  </mat-grid-list>
</div>
