/*
 * Imports
 */

@import './assets/css/n-frame.min.css',
'./assets/css/vars.scss',
'https://fonts.googleapis.com/css2?family=Karla&display=swap"';

/*
 * Typo
 */

* {
    font-family: 'Karla', sans-serif;
}


/*
 * Global class
 */

*::selection {
    background-color: $charter-pink;
    color: #fff;
}

.charter-blue {
    color: $charter-blue;
}

.charter-pink {
    color: $charter-pink;
}

.bg-charter-blue {
    background: $charter-blue;
}

.bg-charter-pink {
    background: $charter-pink;
}


/*
 * overriding
 */

.--round {
    border-radius: 15px;
}

button {
    font-size: 1em;
}