/*
 * Home styles
 */

.first-block {
<<<<<<< HEAD
=======
    background: url('https://burst.shopifycdn.com/photos/dark-photo-green-plant-with-small-leaves.jpg?width=1850&format=pjpg&exif=1&iptc=1') center center / cover no-repeat;
>>>>>>> Nathan
    @media (max-width: 768px) {
        border-radius: 0;
    }
}

.first-block-container {
    @media (max-width: 768px) {
        padding: 0;
    }
}

.content {
    text-align: center;
    h1 {
        font-size: 3.5em;
    }
}

.category-display {
    padding-left: 2em;
    padding-right: 1em;
    @media (max-width: 768px) {
        width: max-content;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.category-container {
    @media (max-width: 768px) {
        width: 100%;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}