<div *ngIf="total != 0" class="--container --g-a-center --gap-1 --col-3 --py-1">
    <h2>
        Panier :
    </h2>
    <p class="--txt-right">
        Total : {{total | euroTransform}} €
    </p>
    <button class="--p-1 --round --bg-success --light-shadow --cursor">Commander</button>
</div>
<div class=" --round --h-90 cart-item-container">
    <div *ngIf="total == 0" class="--container --g-a-center --g-j-center">
        <div class="--container --gap-1 --txt-center">
            <h1>Oups !</h1>
            <p>Votre panier est vide pour le moment.</p>
        </div>
    </div>
    <div *ngFor="let item of cart" class="--py-1">
        <app-cart-item [item]="item" class="--container --col-4 --gap-1 --bg-light --round --light-shadow --p-1"></app-cart-item>
    </div>


    <!-- give bottom marge -->
    <div class="--py-3"></div>
</div>