/*
 * Imports
 */

@import '../../../../../assets/css/vars.scss';

/*
 * Desktop nav
 */

.desktop-nav {
    z-index: 10;
}

.first-element {
    padding-left: 0;
}

.cart {
    z-index: 1;
    margin-top: 8vh;
    height: 90%;
}

.cart-over {
    opacity: 0.05;
}