<div class="--d-none --d-block-md">
    <div class="desktop-nav --fixed-tl --vh-10 --w-100 --p-1 --bg-light">
        <div class="--d-flex --a-center --j-between --px-1">
            <nav>
                <ul class="--d-flex">
                    <li class="--d-flex --j-center --a-center --cursor --p-1 first-element">
                        <h3>Accueil</h3>
                    </li>
                    <li *ngFor="let category of categories" class="--d-flex --j-center --a-center --p-1 --cursor">
                        <h3>{{category.name}}</h3>
                    </li>
                </ul>
            </nav>
            <div class="--container --col-2 --g-a-center --gap-2 --px-2 --light-shadow --full-round">
                <svg class="--cursor" width="1.3em" height="1.6em" viewBox="0 0 16 16"><path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/></svg>
                <svg data-drop="cart" id="cart" class="--cursor" width="1.3em" height="1.6em" viewBox="0 0 18 18"><path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/></svg>
            </div>
        </div>
    </div>
</div>
<div class="cart-over --fixed-tl --vh-100 --w-100 bg-charter-pink --d-none" data-drop="cart" data-dropped="cart"></div>
<div class="--fixed-tr --p-3 --w-70 --w-lg-60 --w-xl-50 --vh-100">
    <div data-dropped="cart" class="cart --bg-light-grey --round --light-shadow --d-none"></div>
</div>