/*
 * Imports
 */

@import '../../../../../assets/css/vars.scss';

/*
  * Mobile nav
  */

.mobile-nav {
    z-index: 10;
    * {
        padding: 0.3em;
    }
}

.cart-interface,
.nav-interface {
    z-index: 9;
}