/*
 * Imports
 */

@import '../../../../../assets/css/vars.scss';

/*
  * Mobile nav
  */

.mobile-nav {
    z-index: 10;
    * {
        padding: 0.3em;
    }
}

.cart-interface,
.nav-interface {
    z-index: 9;
}

.category-container {
    @media (max-width: 768px) {
        width: 100%;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.category-display {
    padding-left: 2em;
    padding-right: 1em;
    @media (max-width: 768px) {
        width: max-content;
    }
}