<footer>
  <div class="--container --col-2 bgFooter --py-1">
    <div class="--col-6 --px-2 --d-flex --a-center --j-center">
      <ul>
        <li class="pListe">La boutique florale Lyonnaise</li>
        <!--      <li class="pListe">projetwf3mnj@gmail.com</li>-->
        <li class="pListe">Lyon, France</li>
      </ul>
    </div>
    <div class="--col-6 --px-2 --d-flex --a-center --j-center">
      <p><a href="http://facebook.fr">Facebook</a> + <a href="http://instagram.fr">Instagram</a></p>
    </div>

  </div>
  <div class="--container --col-12 bgFooter">
    <p class="--d-flex --a-center --j-center " id="pCopyright"> Copyright 2021 Web Fleur 3 . All Rights Reserved</p>
  </div>
</footer>
